#headline {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f3f3f3;
	margin: 0;
}

#headline h3 {
	margin: 0;
	margin-left: 1rem;
}

#globe {
	display: none;
}
#history {
	display: none;
}
#stats {
	display: none;
}
#map {
	height: 100%;
	width: 100%;
}

.hide {
	display: none;
}

.page {
	margin: 1rem;
	height: 43rem;
	overflow: scroll;
}
